form {
	max-width:600px;
	margin:30px auto;
	background:#fff;
	border-radius:2px;
	padding:0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	clear:both;
}
.add {
    text-align: center;
    margin: 10px auto;
    padding:0px;
}
.show {
    text-align: center;
    display: block;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
	max-width:600px;
	margin:30px auto;
	background-color: #e6f2ff;
	padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.delete{
    float: right;
}

.survey {
    overflow: hidden;
    display: block;
	border:1px solid #DDDDDD;
	margin-bottom: 10px;
	border-radius: 3px;
	max-width:600px;
	margin:30px auto;
	background-color: #e6f2ff;
	padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.editResponses{
    width: 510px;
    margin: 0px auto;
}

p {
   font-size: small;
    font-family: Georgia, "Times New Roman", Times, serif;
}
 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 30px 0px 20px 0px;
	color: #5C5C5C;
	font-size:xx-large;
    font-family: Georgia, "Times New Roman", Times, serif;

}
h2{
	display: block;
	padding: 10px;
	text-align: center;
	margin: 0px auto;
	color: #333333;
	font-size:x-large;
    font-family: Georgia, "Times New Roman", Times, serif;
}
 ol{
	list-style:none;
	padding:0;
	margin:0;	
}
 li{
    background-color: #fff;
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 5px;
	border-radius: 3px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.footer{
}


